@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 19% 27%;
    --card: 0 0% 100%;
    --card-foreground: 217 19% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 19% 27%;
    --primary: 0 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 81% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14% 96%;
    --muted-foreground: 215 14% 34%;
    --accent: 220 14% 96%;
    --accent-foreground: 217 19% 27%;
    --destructive: 0 91% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 218 18% 76%;
    --input: 218 18% 76%;
    --ring: 0 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 26% 14%;
    --foreground: 220 14% 96%;
    --card: 217 19% 27%;
    --card-foreground: 220 14% 96%;
    --popover: 217 19% 27%;
    --popover-foreground: 220 14% 96%;
    --primary: 0 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 81% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 19% 35%;
    --muted-foreground: 218 18% 76%;
    --accent: 217 19% 35%;
    --accent-foreground: 220 14% 96%;
    --destructive: 0 91% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 14% 34%;
    --input: 215 14% 34%;
    --ring: 0 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
